
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}



.login-container {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    color: #fff;
    margin-bottom: 20px;
}



.login-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}



.login-container button {
    width: 100%;
    padding: 12px;
    background: #0066cc;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.login-container button:hover {
    background: #0052a3;
}


.home h1 {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 10px black;
}